version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: employee_db_docker
    env_file:
      - .env.docker
    volumes:
      - docker_mysql_data:/var/lib/mysql
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10

  web:
    build: .
    env_file:
      - .env.docker
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    entrypoint: ["python", "manage.py", "runserver", "0.0.0.0:8000"]
volumes:
  docker_mysql_data:
