Django
gunicorn
django-crispy-forms
crispy-bootstrap4

cryptography

coverage
pytest
pytest-django

pymysql
psycopg2-binary

flake8
black==25.12.0
requests
python-dotenv
pre-commit

reportlab
xhtml2pdf
openpyxl
matplotlib
pandas
