Django
django-crispy-forms
crispy-bootstrap4
crispy-bootstrap5
cryptography

coverage
pytest
pytest-django
pymysql
mysqlclient
psycopg2-binary

flake8
black
requests
python-dotenv

reportlab
openpyxl
matplotlib
seaborn
pandas
